html, 
body,
 #root
 .App {
  height : 50%;
  margin: 0;
  /* background-color: green; */
}
.Day {
  background-color: yellow;
  color: black;
}
.Night{
  background-color: gray;
  color: white;
  
}
.block {
  background-color: lightpink;
  cursor: pointer;
  font-size: 20px;  /* padding-inline: ; */
  padding-left: 2%;
  padding-right: 2%;
/* 
  display: block;
  width: 6%;
  border: 2px solid;
  border-color: black;
  background-color: lightgoldenrodyellow;
  padding: 14px 28px;
  font-size: 50px;
  cursor: pointer;
  text-align: center; */
}
